/*********
 * SMALL *
 *********/
.shadow-small-1 {
  box-shadow: 0px 0px 5px 2px $gray-1;
}
.shadow-small-2 {
  box-shadow: 0px 0px 5px 2px $gray-2;
}
.shadow-small-3 {
  box-shadow: 0px 0px 5px 2px $gray-3;
}
.shadow-small-4 {
  box-shadow: 0px 0px 5px 2px $gray-4;
}
.shadow-small-5 {
  box-shadow: 0px 0px 5px 2px $gray-5;
}
.shadow-small-6 {
  box-shadow: 0px 0px 5px 2px $gray-6;
}
.shadow-small-7 {
  box-shadow: 0px 0px 5px 2px $gray-7;
}
.shadow-small-8 {
  box-shadow: 0px 0px 5px 2px $gray-8;
}
.shadow-small-9 {
  box-shadow: 0px 0px 5px 2px $gray-9;
}
.shadow-small-10 {
  box-shadow: 0px 0px 5px 2px $gray-10;
}

/**********
 * MEDIUM *
 **********/
.shadow-medium-1 {
  box-shadow: 0px 0px 5px 5px $gray-1;
}
.shadow-medium-2 {
  box-shadow: 0px 0px 5px 5px $gray-2;
}
.shadow-medium-3 {
  box-shadow: 0px 0px 5px 5px $gray-3;
}
.shadow-medium-4 {
  box-shadow: 0px 0px 5px 5px $gray-4;
}
.shadow-medium-5 {
  box-shadow: 0px 0px 5px 5px $gray-5;
}
.shadow-medium-6 {
  box-shadow: 0px 0px 5px 5px $gray-6;
}
.shadow-medium-7 {
  box-shadow: 0px 0px 5px 5px $gray-7;
}
.shadow-medium-8 {
  box-shadow: 0px 0px 5px 5px $gray-8;
}
.shadow-medium-9 {
  box-shadow: 0px 0px 5px 5px $gray-9;
}
.shadow-medium-10 {
  box-shadow: 0px 0px 5px 5px $gray-10;
}

/*********
 * LARGE *
 *********/
.shadow-large-1 {
  box-shadow: 0px 0px 10px 10px $gray-1;
}
.shadow-large-2 {
  box-shadow: 0px 0px 10px 10px $gray-2;
}
.shadow-large-3 {
  box-shadow: 0px 0px 10px 10px $gray-3;
}
.shadow-large-4 {
  box-shadow: 0px 0px 10px 10px $gray-4;
}
.shadow-large-5 {
  box-shadow: 0px 0px 10px 10px $gray-5;
}
.shadow-large-6 {
  box-shadow: 0px 0px 10px 10px $gray-6;
}
.shadow-large-7 {
  box-shadow: 0px 0px 10px 10px $gray-7;
}
.shadow-large-8 {
  box-shadow: 0px 0px 10px 10px $gray-8;
}
.shadow-large-9 {
  box-shadow: 0px 0px 10px 10px $gray-9;
}
.shadow-large-10 {
  box-shadow: 0px 0px 10px 10px $gray-10;
}
